<configuration scan="true" scanPeriod="5 seconds">

    <!--包含Spring boot对logback日志的默认配置 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty scope="context" name="logbackLoglevel" source="logging.level.root" defaultValue="info"/>

    <!-- File 输出设置 -->
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <prudent>true</prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/%d{yyyy-MM-dd}/aries-auth-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>
                #[%date{ISO8601}]|[%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}]|%-5level|[%thread]|%logger{0}|%F.%M:%L|
                --> %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="HTTP_TRACE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <prudent>true</prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/trace/%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>3</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>#[%date{ISO8601}] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${logbackLoglevel}">
        <appender-ref ref="ROLLING"/>
    </root>

    <logger name="com.dcits.aries.common.filter.HttpTraceFilter"
            level="info" additivity="false">
        <appender-ref ref="HTTP_TRACE"/>
    </logger>
</configuration>
