<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.open.cloud.workflow.framework.mapper.ActHiProcinstMapper">
    <resultMap id="BaseResultMap" type="com.open.cloud.workflow.framework.entity.ActHiProcinst">
        <id column="PROC_INST_ID" jdbcType="VARCHAR" property="procInstId"/>
        <result column="BUSINESS_KEY" jdbcType="VARCHAR" property="businessKey"/>
        <result column="PROC_DEF_ID" jdbcType="VARCHAR" property="procDefId"/>
        <result column="PROC_DEF_KEY" jdbcType="VARCHAR" property="procDefKey"/>
        <result column="START_TIME" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="END_TIME" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="DURATION" jdbcType="BIGINT" property="duration"/>
        <result column="START_USER_ID" jdbcType="VARCHAR" property="startUserId"/>
        <result column="START_ACT_ID" jdbcType="VARCHAR" property="startActId"/>
        <result column="END_ACT_ID" jdbcType="VARCHAR" property="endActId"/>
        <result column="SUPER_PROCESS_INSTANCE_ID" jdbcType="VARCHAR" property="superProcessInstanceId"/>
        <result column="DELETE_REASON" jdbcType="VARCHAR" property="deleteReason"/>
        <result column="TENANT_ID" jdbcType="VARCHAR" property="tenantId"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="USER_ID" jdbcType="VARCHAR" property="userId"/>
        <result column="SUSPENSION_STATE" jdbcType="BIT" property="suspensionState"/>
    </resultMap>
    <sql id="Base_Column_List">
    PROC_INST_ID, BUSINESS_KEY, PROC_DEF_ID, START_TIME, END_TIME, DURATION, START_USER_ID, 
    START_ACT_ID, END_ACT_ID, SUPER_PROCESS_INSTANCE_ID, DELETE_REASON, TENANT_ID, `NAME`,
    USER_ID,PROC_DEF_KEY,SUSPENSION_STATE
  </sql>

    <select id="selectByBusinessKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dc_act_hi_procinst
        where BUSINESS_KEY = #{businessKey,jdbcType=VARCHAR}
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dc_act_hi_procinst
        where PROC_INST_ID = #{procInstId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dc_act_hi_procinst
    where PROC_INST_ID = #{procInstId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.open.cloud.workflow.framework.entity.ActHiProcinst">
    insert into dc_act_hi_procinst (PROC_INST_ID, BUSINESS_KEY, PROC_DEF_ID, 
      START_TIME, END_TIME, DURATION, 
      START_USER_ID, START_ACT_ID, END_ACT_ID, 
      SUPER_PROCESS_INSTANCE_ID, DELETE_REASON, TENANT_ID, 
      NAME, USER_ID,PROC_DEF_KEY)
    values (#{procInstId,jdbcType=VARCHAR}, #{businessKey,jdbcType=VARCHAR}, #{procDefId,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{duration,jdbcType=BIGINT}, 
      #{startUserId,jdbcType=VARCHAR}, #{startActId,jdbcType=VARCHAR}, #{endActId,jdbcType=VARCHAR}, 
      #{superProcessInstanceId,jdbcType=VARCHAR}, #{deleteReason,jdbcType=VARCHAR}, #{tenantId,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},#{procDefKey,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.open.cloud.workflow.framework.entity.ActHiProcinst">
        insert into dc_act_hi_procinst
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="procInstId != null">
                PROC_INST_ID,
            </if>
            <if test="businessKey != null">
                BUSINESS_KEY,
            </if>
            <if test="procDefId != null">
                PROC_DEF_ID,
            </if>
            <if test="startTime != null">
                START_TIME,
            </if>
            <if test="endTime != null">
                END_TIME,
            </if>
            <if test="duration != null">
                DURATION,
            </if>
            <if test="startUserId != null">
                START_USER_ID,
            </if>
            <if test="startActId != null">
                START_ACT_ID,
            </if>
            <if test="endActId != null">
                END_ACT_ID,
            </if>
            <if test="superProcessInstanceId != null">
                SUPER_PROCESS_INSTANCE_ID,
            </if>
            <if test="deleteReason != null">
                DELETE_REASON,
            </if>
            <if test="tenantId != null">
                TENANT_ID,
            </if>
            <if test="name != null">
                `NAME`,
            </if>
            <if test="userId != null">
                USER_ID,
            </if>
            <if test="procDefKey != null">
                PROC_DEF_KEY,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="procInstId != null">
                #{procInstId,jdbcType=VARCHAR},
            </if>
            <if test="businessKey != null">
                #{businessKey,jdbcType=VARCHAR},
            </if>
            <if test="procDefId != null">
                #{procDefId,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="duration != null">
                #{duration,jdbcType=BIGINT},
            </if>
            <if test="startUserId != null">
                #{startUserId,jdbcType=VARCHAR},
            </if>
            <if test="startActId != null">
                #{startActId,jdbcType=VARCHAR},
            </if>
            <if test="endActId != null">
                #{endActId,jdbcType=VARCHAR},
            </if>
            <if test="superProcessInstanceId != null">
                #{superProcessInstanceId,jdbcType=VARCHAR},
            </if>
            <if test="deleteReason != null">
                #{deleteReason,jdbcType=VARCHAR},
            </if>
            <if test="tenantId != null">
                #{tenantId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="procDefKey != null">
                #{procDefKey,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.open.cloud.workflow.framework.entity.ActHiProcinst">
        update dc_act_hi_procinst
        <set>
            <if test="businessKey != null">
                BUSINESS_KEY = #{businessKey,jdbcType=VARCHAR},
            </if>
            <if test="procDefId != null">
                PROC_DEF_ID = #{procDefId,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                START_TIME = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                END_TIME = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="duration != null">
                DURATION = #{duration,jdbcType=BIGINT},
            </if>
            <if test="startUserId != null">
                START_USER_ID = #{startUserId,jdbcType=VARCHAR},
            </if>
            <if test="startActId != null">
                START_ACT_ID = #{startActId,jdbcType=VARCHAR},
            </if>
            <if test="endActId != null">
                END_ACT_ID = #{endActId,jdbcType=VARCHAR},
            </if>
            <if test="superProcessInstanceId != null">
                SUPER_PROCESS_INSTANCE_ID = #{superProcessInstanceId,jdbcType=VARCHAR},
            </if>
            <if test="deleteReason != null">
                DELETE_REASON = #{deleteReason,jdbcType=VARCHAR},
            </if>
            <if test="tenantId != null">
                TENANT_ID = #{tenantId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                `NAME` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                USER_ID = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="procDefKey != null">
                PROC_DEF_KEY = #{procDefKey,jdbcType=VARCHAR},
            </if>
        </set>
        where PROC_INST_ID = #{procInstId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.open.cloud.workflow.framework.entity.ActHiProcinst">
    update dc_act_hi_procinst
    set BUSINESS_KEY = #{businessKey,jdbcType=VARCHAR},
      PROC_DEF_ID = #{procDefId,jdbcType=VARCHAR},
      START_TIME = #{startTime,jdbcType=TIMESTAMP},
      END_TIME = #{endTime,jdbcType=TIMESTAMP},
      DURATION = #{duration,jdbcType=BIGINT},
      START_USER_ID = #{startUserId,jdbcType=VARCHAR},
      START_ACT_ID = #{startActId,jdbcType=VARCHAR},
      END_ACT_ID = #{endActId,jdbcType=VARCHAR},
      SUPER_PROCESS_INSTANCE_ID = #{superProcessInstanceId,jdbcType=VARCHAR},
      DELETE_REASON = #{deleteReason,jdbcType=VARCHAR},
      TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      `NAME` = #{name,jdbcType=VARCHAR},
      PROC_DEF_KEY = #{procDefKey,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR}
    where PROC_INST_ID = #{procInstId,jdbcType=VARCHAR}
  </update>

    <!-- 根据条件查询数据 -->
    <select id="selectSelective" resultMap="BaseResultMap"
            parameterType="com.open.cloud.workflow.framework.entity.ActHiProcinst">
        SELECT
        <include refid="Base_Column_List"/>
        FROM dc_act_hi_procinst WHERE 1 = 1
        <if test="businessKey != null">
            AND BUSINESS_KEY = #{businessKey,jdbcType=VARCHAR}
        </if>
        <if test="procDefId != null">
            AND PROC_DEF_ID = #{procDefId,jdbcType=VARCHAR}
        </if>
        <if test="startTime != null">
            AND START_TIME = #{startTime,jdbcType=TIMESTAMP}
        </if>
        <if test="endTime != null">
            AND END_TIME = #{endTime,jdbcType=TIMESTAMP}
        </if>
        <if test="duration != null">
            AND DURATION = #{duration,jdbcType=BIGINT}
        </if>
        <if test="startUserId != null">
            AND START_USER_ID = #{startUserId,jdbcType=VARCHAR}
        </if>
        <if test="startActId != null">
            AND START_ACT_ID = #{startActId,jdbcType=VARCHAR}
        </if>
        <if test="endActId != null">
            AND END_ACT_ID = #{endActId,jdbcType=VARCHAR}
        </if>
        <if test="superProcessInstanceId != null">
            AND SUPER_PROCESS_INSTANCE_ID = #{superProcessInstanceId,jdbcType=VARCHAR}
        </if>
        <if test="deleteReason != null">
            AND DELETE_REASON = #{deleteReason,jdbcType=VARCHAR}
        </if>
        <if test="tenantId != null">
            AND TENANT_ID = #{tenantId,jdbcType=VARCHAR}
        </if>
        <if test="name != null">
            AND `NAME` = #{name,jdbcType=VARCHAR}
        </if>
        <if test="userId != null">
            AND USER_ID = #{userId,jdbcType=VARCHAR}
        </if>
        <if test="procDefKey != null">
            AND PROC_DEF_KEY = #{procDefKey,jdbcType=VARCHAR}
        </if>
    </select>
</mapper>