<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moc.cloud.workflow.framework.mapper.ActHiActinstMapper">
  <resultMap id="BaseResultMap" type="com.moc.cloud.workflow.framework.entity.ActHiActinst">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="PROC_DEF_ID" jdbcType="VARCHAR" property="procDefId" />
    <result column="PROC_INST_ID" jdbcType="VARCHAR" property="procInstId" />
    <result column="EXECUTION_ID" jdbcType="VARCHAR" property="executionId" />
    <result column="ACT_ID" jdbcType="VARCHAR" property="actId" />
    <result column="TASK_ID" jdbcType="VARCHAR" property="taskId" />
    <result column="CALL_PROC_INST_ID" jdbcType="VARCHAR" property="callProcInstId" />
    <result column="ACT_NAME" jdbcType="VARCHAR" property="actName" />
    <result column="ACT_TYPE" jdbcType="VARCHAR" property="actType" />
    <result column="ASSIGNEE" jdbcType="VARCHAR" property="assignee" />
    <result column="START_TIME" jdbcType="TIMESTAMP" property="startTime" />
    <result column="END_TIME" jdbcType="TIMESTAMP" property="endTime" />
    <result column="DURATION" jdbcType="BIGINT" property="duration" />
    <result column="DELETE_REASON" jdbcType="VARCHAR" property="deleteReason" />
    <result column="TENANT_ID" jdbcType="VARCHAR" property="tenantId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PROC_DEF_ID, PROC_INST_ID, EXECUTION_ID, ACT_ID, TASK_ID, CALL_PROC_INST_ID, 
    ACT_NAME, ACT_TYPE, ASSIGNEE, START_TIME, END_TIME, DURATION, DELETE_REASON, TENANT_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dc_act_hi_actinst
    where ID = #{id,jdbcType=VARCHAR} ORDER BY
    START_TIME ASC
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dc_act_hi_actinst
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.moc.cloud.workflow.framework.entity.ActHiActinst">
    insert into dc_act_hi_actinst (ID, PROC_DEF_ID, PROC_INST_ID, 
      EXECUTION_ID, ACT_ID, TASK_ID, 
      CALL_PROC_INST_ID, ACT_NAME, ACT_TYPE, 
      ASSIGNEE, START_TIME, END_TIME, 
      DURATION, DELETE_REASON, TENANT_ID
      )
    values (#{id,jdbcType=VARCHAR}, #{procDefId,jdbcType=VARCHAR}, #{procInstId,jdbcType=VARCHAR}, 
      #{executionId,jdbcType=VARCHAR}, #{actId,jdbcType=VARCHAR}, #{taskId,jdbcType=VARCHAR}, 
      #{callProcInstId,jdbcType=VARCHAR}, #{actName,jdbcType=VARCHAR}, #{actType,jdbcType=VARCHAR}, 
      #{assignee,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{duration,jdbcType=BIGINT}, #{deleteReason,jdbcType=VARCHAR}, #{tenantId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.moc.cloud.workflow.framework.entity.ActHiActinst">
    insert into dc_act_hi_actinst
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="procDefId != null">
        PROC_DEF_ID,
      </if>
      <if test="procInstId != null">
        PROC_INST_ID,
      </if>
      <if test="executionId != null">
        EXECUTION_ID,
      </if>
      <if test="actId != null">
        ACT_ID,
      </if>
      <if test="taskId != null">
        TASK_ID,
      </if>
      <if test="callProcInstId != null">
        CALL_PROC_INST_ID,
      </if>
      <if test="actName != null">
        ACT_NAME,
      </if>
      <if test="actType != null">
        ACT_TYPE,
      </if>
      <if test="assignee != null">
        ASSIGNEE,
      </if>
      <if test="startTime != null">
        START_TIME,
      </if>
      <if test="endTime != null">
        END_TIME,
      </if>
      <if test="duration != null">
        DURATION,
      </if>
      <if test="deleteReason != null">
        DELETE_REASON,
      </if>
      <if test="tenantId != null">
        TENANT_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="procDefId != null">
        #{procDefId,jdbcType=VARCHAR},
      </if>
      <if test="procInstId != null">
        #{procInstId,jdbcType=VARCHAR},
      </if>
      <if test="executionId != null">
        #{executionId,jdbcType=VARCHAR},
      </if>
      <if test="actId != null">
        #{actId,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="callProcInstId != null">
        #{callProcInstId,jdbcType=VARCHAR},
      </if>
      <if test="actName != null">
        #{actName,jdbcType=VARCHAR},
      </if>
      <if test="actType != null">
        #{actType,jdbcType=VARCHAR},
      </if>
      <if test="assignee != null">
        #{assignee,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=BIGINT},
      </if>
      <if test="deleteReason != null">
        #{deleteReason,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.moc.cloud.workflow.framework.entity.ActHiActinst">
    update dc_act_hi_actinst
    <set>
      <if test="procDefId != null">
        PROC_DEF_ID = #{procDefId,jdbcType=VARCHAR},
      </if>
      <if test="procInstId != null">
        PROC_INST_ID = #{procInstId,jdbcType=VARCHAR},
      </if>
      <if test="executionId != null">
        EXECUTION_ID = #{executionId,jdbcType=VARCHAR},
      </if>
      <if test="actId != null">
        ACT_ID = #{actId,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null">
        TASK_ID = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="callProcInstId != null">
        CALL_PROC_INST_ID = #{callProcInstId,jdbcType=VARCHAR},
      </if>
      <if test="actName != null">
        ACT_NAME = #{actName,jdbcType=VARCHAR},
      </if>
      <if test="actType != null">
        ACT_TYPE = #{actType,jdbcType=VARCHAR},
      </if>
      <if test="assignee != null">
        ASSIGNEE = #{assignee,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        START_TIME = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        END_TIME = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="duration != null">
        DURATION = #{duration,jdbcType=BIGINT},
      </if>
      <if test="deleteReason != null">
        DELETE_REASON = #{deleteReason,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.moc.cloud.workflow.framework.entity.ActHiActinst">
    update dc_act_hi_actinst
    set PROC_DEF_ID = #{procDefId,jdbcType=VARCHAR},
      PROC_INST_ID = #{procInstId,jdbcType=VARCHAR},
      EXECUTION_ID = #{executionId,jdbcType=VARCHAR},
      ACT_ID = #{actId,jdbcType=VARCHAR},
      TASK_ID = #{taskId,jdbcType=VARCHAR},
      CALL_PROC_INST_ID = #{callProcInstId,jdbcType=VARCHAR},
      ACT_NAME = #{actName,jdbcType=VARCHAR},
      ACT_TYPE = #{actType,jdbcType=VARCHAR},
      ASSIGNEE = #{assignee,jdbcType=VARCHAR},
      START_TIME = #{startTime,jdbcType=TIMESTAMP},
      END_TIME = #{endTime,jdbcType=TIMESTAMP},
      DURATION = #{duration,jdbcType=BIGINT},
      DELETE_REASON = #{deleteReason,jdbcType=VARCHAR},
      TENANT_ID = #{tenantId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <!-- 根据条件查询数据 -->
  <select id="selectSelective" resultMap="BaseResultMap"
          parameterType="com.moc.cloud.workflow.framework.entity.ActHiActinst">
    SELECT
    <include refid="Base_Column_List"/>
    FROM dc_act_hi_actinst WHERE 1 = 1
    <if test="procDefId != null and procDefId != ''">
      AND `PROC_DEF_ID` = #{procDefId,jdbcType=VARCHAR}
    </if>
    <if test="procInstId != null and procInstId != ''">
      AND PROC_INST_ID = #{procInstId,jdbcType=VARCHAR}
    </if>
    <if test="executionId != null and executionId != ''">
      AND EXECUTION_ID = #{executionId,jdbcType=VARCHAR}
    </if>
    <if test="actId != null and actId != ''">
      AND ACT_ID = #{ACT_ID,jdbcType=VARCHAR}
    </if>
    <if test="taskId != null and taskId != ''">
      AND TASK_ID = #{taskId,jdbcType=VARCHAR}
    </if>
    <if test="callProcInstId != null and callProcInstId != ''">
      AND CALL_PROC_INST_ID = #{callProcInstId,jdbcType=VARCHAR}
    </if>
    <if test="actName != null and actName != ''">
      AND ACT_NAME = #{actName,jdbcType=VARCHAR}
    </if>
    ORDER BY
    START_TIME ASC
  </select>
</mapper>