<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.open.cloud.workflow.framework.mapper.ActHiCommentMapper">
  <resultMap id="BaseResultMap" type="com.open.cloud.workflow.framework.entity.ActHiComment">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="TIME" jdbcType="TIMESTAMP" property="time" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="TASK_ID" jdbcType="VARCHAR" property="taskId" />
    <result column="PROC_INST_ID" jdbcType="VARCHAR" property="procInstId" />
    <result column="ACTION" jdbcType="VARCHAR" property="action" />
    <result column="MESSAGE" jdbcType="VARCHAR" property="message" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="CONTENT_ID" jdbcType="VARCHAR" property="contentId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.open.cloud.workflow.framework.entity.ActHiComment">
    <result column="FULL_MSG" jdbcType="LONGVARBINARY" property="fullMsg" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, TYPE, TIME, USER_ID, TASK_ID, PROC_INST_ID, ACTION, MESSAGE, URL, CONTENT_ID
  </sql>
  <sql id="Blob_Column_List">
    FULL_MSG
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from dc_act_hi_comment
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dc_act_hi_comment
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.open.cloud.workflow.framework.entity.ActHiComment">
    insert into dc_act_hi_comment (ID, TYPE, TIME, 
      USER_ID, TASK_ID, PROC_INST_ID, 
      ACTION, MESSAGE, URL, 
      CONTENT_ID, FULL_MSG)
    values (#{id,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, 
      #{userId,jdbcType=VARCHAR}, #{taskId,jdbcType=VARCHAR}, #{procInstId,jdbcType=VARCHAR}, 
      #{action,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{contentId,jdbcType=VARCHAR}, #{fullMsg,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.open.cloud.workflow.framework.entity.ActHiComment">
    insert into dc_act_hi_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="time != null">
        TIME,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="taskId != null">
        TASK_ID,
      </if>
      <if test="procInstId != null">
        PROC_INST_ID,
      </if>
      <if test="action != null">
        ACTION,
      </if>
      <if test="message != null">
        MESSAGE,
      </if>
      <if test="url != null">
        URL,
      </if>
      <if test="contentId != null">
        CONTENT_ID,
      </if>
      <if test="fullMsg != null">
        FULL_MSG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="procInstId != null">
        #{procInstId,jdbcType=VARCHAR},
      </if>
      <if test="action != null">
        #{action,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="contentId != null">
        #{contentId,jdbcType=VARCHAR},
      </if>
      <if test="fullMsg != null">
        #{fullMsg,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.open.cloud.workflow.framework.entity.ActHiComment">
    update dc_act_hi_comment
    <set>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        TIME = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null">
        TASK_ID = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="procInstId != null">
        PROC_INST_ID = #{procInstId,jdbcType=VARCHAR},
      </if>
      <if test="action != null">
        ACTION = #{action,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        MESSAGE = #{message,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="contentId != null">
        CONTENT_ID = #{contentId,jdbcType=VARCHAR},
      </if>
      <if test="fullMsg != null">
        FULL_MSG = #{fullMsg,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.open.cloud.workflow.framework.entity.ActHiComment">
    update dc_act_hi_comment
    set TYPE = #{type,jdbcType=VARCHAR},
      TIME = #{time,jdbcType=TIMESTAMP},
      USER_ID = #{userId,jdbcType=VARCHAR},
      TASK_ID = #{taskId,jdbcType=VARCHAR},
      PROC_INST_ID = #{procInstId,jdbcType=VARCHAR},
      ACTION = #{action,jdbcType=VARCHAR},
      MESSAGE = #{message,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      CONTENT_ID = #{contentId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>