<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.open.cloud.workflow.framework.mapper.ActReProcdefMapper">
    <resultMap id="BaseResultMap" type="com.open.cloud.workflow.framework.entity.ActReProcdef">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="REV" jdbcType="INTEGER" property="rev"/>
        <result column="CATEGORY" jdbcType="VARCHAR" property="category"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="KEY" jdbcType="VARCHAR" property="key"/>
        <result column="VERSION" jdbcType="INTEGER" property="version"/>
        <result column="DEPLOYMENT_ID" jdbcType="VARCHAR" property="deploymentId"/>
        <result column="RESOURCE_NAME" jdbcType="VARCHAR" property="resourceName"/>
        <result column="DGRM_RESOURCE_NAME" jdbcType="VARCHAR" property="dgrmResourceName"/>
        <result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
        <result column="HAS_START_FORM_KEY" jdbcType="TINYINT" property="hasStartFormKey"/>
        <result column="HAS_GRAPHICAL_NOTATION" jdbcType="TINYINT" property="hasGraphicalNotation"/>
        <result column="SUSPENSION_STATE" jdbcType="BIT" property="suspensionState"/>
        <result column="TENANT_ID" jdbcType="VARCHAR" property="tenantId"/>
        <result column="ENGINE_VERSION" jdbcType="VARCHAR" property="engineVersion"/>
        <result column="RESOURCE_TIME" jdbcType="TIMESTAMP" property="resourceTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID, REV, CATEGORY, `NAME`, `KEY`, VERSION, DEPLOYMENT_ID, RESOURCE_NAME, DGRM_RESOURCE_NAME,
    DESCRIPTION, HAS_START_FORM_KEY, HAS_GRAPHICAL_NOTATION, SUSPENSION_STATE, TENANT_ID, 
    ENGINE_VERSION, RESOURCE_TIME
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dc_act_re_procdef
        where ID = #{id,jdbcType=VARCHAR} ORDER BY `KEY`, VERSION DESC
    </select>

    <select id="selectAll" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dc_act_re_procdef ORDER BY `KEY`, VERSION DESC
    </select>
    <select id="selectByKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dc_act_re_procdef
        where `KEY` = #{key,jdbcType=VARCHAR} ORDER BY VERSION DESC
    </select>
    <select id="selectSelective" parameterType="com.open.cloud.workflow.framework.entity.ActReProcdef"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        FROM dc_act_re_procdef WHERE 1 = 1
        <if test="rev != null">
            AND REV = #{rev}
        </if>
        <if test="category != null and category != ''">
            AND CATEGORY = #{category}
        </if>
        <if test="name != null and name != ''">
            AND `NAME` = #{name}
        </if>
        <if test="key != null and key != ''">
            AND `KEY` = #{key}
        </if>
        <if test="version != null">
            AND VERSION = #{version}
        </if>
        <if test="deploymentId != null and deploymentId != ''">
            AND DEPLOYMENT_ID = #{deploymentId}
        </if>
        <if test="resourceName != null and resourceName != ''">
            AND RESOURCE_NAME = #{resourceName}
        </if>
        <if test="dgrmResourceName != null and dgrmResourceName != ''">
            AND DGRM_RESOURCE_NAME = #{dgrmResourceName}
        </if>
        <if test="description != null and description != ''">
            AND DESCRIPTION = #{description}
        </if>
        <if test="hasStartFormKey != null">
            AND HAS_START_FORM_KEY = #{hasStartFormKey}
        </if>
        <if test="hasGraphicalNotation != null">
            AND HAS_GRAPHICAL_NOTATION = #{hasGraphicalNotation}
        </if>
        <if test="suspensionState != null and suspensionState != ''">
            AND SUSPENSION_STATE = #{suspensionState}
        </if>
        <if test="tenantId != null and tenantId != ''">
            AND TENANT_ID = #{tenantId}
        </if>
        <if test="engineVersion != null and engineVersion != ''">
            AND ENGINE_VERSION =#{engineVersion}
        </if>
        <if test="resourceTime != null">
            AND RESOURCE_TIME = #{resourceTime}
        </if>
        ORDER BY `KEY`, VERSION DESC
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dc_act_re_procdef
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.open.cloud.workflow.framework.entity.ActReProcdef">
    insert into dc_act_re_procdef (ID, REV, CATEGORY, 
      `NAME`, `KEY`, VERSION,
      DEPLOYMENT_ID, RESOURCE_NAME, DGRM_RESOURCE_NAME, 
      DESCRIPTION, HAS_START_FORM_KEY, HAS_GRAPHICAL_NOTATION, 
      SUSPENSION_STATE, TENANT_ID, ENGINE_VERSION, 
      RESOURCE_TIME)
    values (#{id,jdbcType=VARCHAR}, #{rev,jdbcType=INTEGER}, #{category,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{key,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, 
      #{deploymentId,jdbcType=VARCHAR}, #{resourceName,jdbcType=VARCHAR}, #{dgrmResourceName,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{hasStartFormKey,jdbcType=TINYINT}, #{hasGraphicalNotation,jdbcType=TINYINT}, 
      #{suspensionState,jdbcType=BIT}, #{tenantId,jdbcType=VARCHAR}, #{engineVersion,jdbcType=VARCHAR}, 
      #{resourceTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.open.cloud.workflow.framework.entity.ActReProcdef">
        insert into dc_act_re_procdef
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="rev != null">
                REV,
            </if>
            <if test="category != null">
                CATEGORY,
            </if>
            <if test="name != null">
                `NAME`,
            </if>
            <if test="key != null">
                `KEY`,
            </if>
            <if test="version != null">
                VERSION,
            </if>
            <if test="deploymentId != null">
                DEPLOYMENT_ID,
            </if>
            <if test="resourceName != null">
                RESOURCE_NAME,
            </if>
            <if test="dgrmResourceName != null">
                DGRM_RESOURCE_NAME,
            </if>
            <if test="description != null">
                DESCRIPTION,
            </if>
            <if test="hasStartFormKey != null">
                HAS_START_FORM_KEY,
            </if>
            <if test="hasGraphicalNotation != null">
                HAS_GRAPHICAL_NOTATION,
            </if>
            <if test="suspensionState != null">
                SUSPENSION_STATE,
            </if>
            <if test="tenantId != null">
                TENANT_ID,
            </if>
            <if test="engineVersion != null">
                ENGINE_VERSION,
            </if>
            <if test="resourceTime != null">
                RESOURCE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="rev != null">
                #{rev,jdbcType=INTEGER},
            </if>
            <if test="category != null">
                #{category,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="key != null">
                #{key,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
            <if test="deploymentId != null">
                #{deploymentId,jdbcType=VARCHAR},
            </if>
            <if test="resourceName != null">
                #{resourceName,jdbcType=VARCHAR},
            </if>
            <if test="dgrmResourceName != null">
                #{dgrmResourceName,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="hasStartFormKey != null">
                #{hasStartFormKey,jdbcType=TINYINT},
            </if>
            <if test="hasGraphicalNotation != null">
                #{hasGraphicalNotation,jdbcType=TINYINT},
            </if>
            <if test="suspensionState != null">
                #{suspensionState,jdbcType=BIT},
            </if>
            <if test="tenantId != null">
                #{tenantId,jdbcType=VARCHAR},
            </if>
            <if test="engineVersion != null">
                #{engineVersion,jdbcType=VARCHAR},
            </if>
            <if test="resourceTime != null">
                #{resourceTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByKey" parameterType="com.open.cloud.workflow.framework.entity.ActReProcdef">
        update dc_act_re_procdef
        <set>
            <if test="rev != null">
                REV = #{rev,jdbcType=INTEGER},
            </if>
            <if test="category != null">
                CATEGORY = #{category,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                `NAME` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                VERSION = #{version,jdbcType=INTEGER},
            </if>
            <if test="deploymentId != null">
                DEPLOYMENT_ID = #{deploymentId,jdbcType=VARCHAR},
            </if>
            <if test="resourceName != null">
                RESOURCE_NAME = #{resourceName,jdbcType=VARCHAR},
            </if>
            <if test="dgrmResourceName != null">
                DGRM_RESOURCE_NAME = #{dgrmResourceName,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                DESCRIPTION = #{description,jdbcType=VARCHAR},
            </if>
            <if test="hasStartFormKey != null">
                HAS_START_FORM_KEY = #{hasStartFormKey,jdbcType=TINYINT},
            </if>
            <if test="hasGraphicalNotation != null">
                HAS_GRAPHICAL_NOTATION = #{hasGraphicalNotation,jdbcType=TINYINT},
            </if>
            <if test="suspensionState != null">
                SUSPENSION_STATE = #{suspensionState,jdbcType=BIT},
            </if>
            <if test="tenantId != null">
                TENANT_ID = #{tenantId,jdbcType=VARCHAR},
            </if>
            <if test="engineVersion != null">
                ENGINE_VERSION = #{engineVersion,jdbcType=VARCHAR},
            </if>
            <if test="resourceTime != null">
                RESOURCE_TIME = #{resourceTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where `KEY` = #{key,jdbcType=VARCHAR}
    </update>


    <update id="updateByPrimaryKeySelective" parameterType="com.open.cloud.workflow.framework.entity.ActReProcdef">
        update dc_act_re_procdef
        <set>
            <if test="rev != null">
                REV = #{rev,jdbcType=INTEGER},
            </if>
            <if test="category != null">
                CATEGORY = #{category,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                `NAME` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="key != null">
                `KEY` = #{key,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                VERSION = #{version,jdbcType=INTEGER},
            </if>
            <if test="deploymentId != null">
                DEPLOYMENT_ID = #{deploymentId,jdbcType=VARCHAR},
            </if>
            <if test="resourceName != null">
                RESOURCE_NAME = #{resourceName,jdbcType=VARCHAR},
            </if>
            <if test="dgrmResourceName != null">
                DGRM_RESOURCE_NAME = #{dgrmResourceName,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                DESCRIPTION = #{description,jdbcType=VARCHAR},
            </if>
            <if test="hasStartFormKey != null">
                HAS_START_FORM_KEY = #{hasStartFormKey,jdbcType=TINYINT},
            </if>
            <if test="hasGraphicalNotation != null">
                HAS_GRAPHICAL_NOTATION = #{hasGraphicalNotation,jdbcType=TINYINT},
            </if>
            <if test="suspensionState != null">
                SUSPENSION_STATE = #{suspensionState,jdbcType=BIT},
            </if>
            <if test="tenantId != null">
                TENANT_ID = #{tenantId,jdbcType=VARCHAR},
            </if>
            <if test="engineVersion != null">
                ENGINE_VERSION = #{engineVersion,jdbcType=VARCHAR},
            </if>
            <if test="resourceTime != null">
                RESOURCE_TIME = #{resourceTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.open.cloud.workflow.framework.entity.ActReProcdef">
    update dc_act_re_procdef
    set REV = #{rev,jdbcType=INTEGER},
      CATEGORY = #{category,jdbcType=VARCHAR},
      `NAME` = #{name,jdbcType=VARCHAR},
      `KEY` = #{key,jdbcType=VARCHAR},
      VERSION = #{version,jdbcType=INTEGER},
      DEPLOYMENT_ID = #{deploymentId,jdbcType=VARCHAR},
      RESOURCE_NAME = #{resourceName,jdbcType=VARCHAR},
      DGRM_RESOURCE_NAME = #{dgrmResourceName,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      HAS_START_FORM_KEY = #{hasStartFormKey,jdbcType=TINYINT},
      HAS_GRAPHICAL_NOTATION = #{hasGraphicalNotation,jdbcType=TINYINT},
      SUSPENSION_STATE = #{suspensionState,jdbcType=BIT},
      TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      ENGINE_VERSION = #{engineVersion,jdbcType=VARCHAR},
      RESOURCE_TIME = #{resourceTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>