<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.open.cloud.workflow.framework.mapper.ActReDeploymentMapper">
  <resultMap id="BaseResultMap" type="com.open.cloud.workflow.framework.entity.ActReDeployment">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CATEGORY" jdbcType="VARCHAR" property="category" />
    <result column="KEY" jdbcType="VARCHAR" property="key" />
    <result column="TENANT_ID" jdbcType="VARCHAR" property="tenantId" />
    <result column="DEPLOY_TIME" jdbcType="TIMESTAMP" property="deployTime" />
    <result column="ENGINE_VERSION" jdbcType="VARCHAR" property="engineVersion" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, CATEGORY, KEY, TENANT_ID, DEPLOY_TIME, ENGINE_VERSION
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dc_act_re_deployment
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dc_act_re_deployment
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.open.cloud.workflow.framework.entity.ActReDeployment">
    insert into dc_act_re_deployment (ID, NAME, CATEGORY, 
      KEY, TENANT_ID, DEPLOY_TIME, 
      ENGINE_VERSION)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, 
      #{key,jdbcType=VARCHAR}, #{tenantId,jdbcType=VARCHAR}, #{deployTime,jdbcType=TIMESTAMP}, 
      #{engineVersion,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.open.cloud.workflow.framework.entity.ActReDeployment">
    insert into dc_act_re_deployment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        `NAME`,
      </if>
      <if test="category != null">
        CATEGORY,
      </if>
      <if test="key != null">
        `KEY`,
      </if>
      <if test="tenantId != null">
        TENANT_ID,
      </if>
      <if test="deployTime != null">
        DEPLOY_TIME,
      </if>
      <if test="engineVersion != null">
        ENGINE_VERSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="deployTime != null">
        #{deployTime,jdbcType=TIMESTAMP},
      </if>
      <if test="engineVersion != null">
        #{engineVersion,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.open.cloud.workflow.framework.entity.ActReDeployment">
    update dc_act_re_deployment
    <set>
      <if test="name != null">
        `NAME` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        CATEGORY = #{category,jdbcType=VARCHAR},
      </if>
      <if test="key != null">
        `KEY` = #{key,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="deployTime != null">
        DEPLOY_TIME = #{deployTime,jdbcType=TIMESTAMP},
      </if>
      <if test="engineVersion != null">
        ENGINE_VERSION = #{engineVersion,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.open.cloud.workflow.framework.entity.ActReDeployment">
    update dc_act_re_deployment
    set `NAME` = #{name,jdbcType=VARCHAR},
      CATEGORY = #{category,jdbcType=VARCHAR},
      `KEY` = #{key,jdbcType=VARCHAR},
      TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      DEPLOY_TIME = #{deployTime,jdbcType=TIMESTAMP},
      ENGINE_VERSION = #{engineVersion,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>