<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.open.cloud.workflow.framework.mapper.ActRuVariableMapper">
  <resultMap id="BaseResultMap" type="com.open.cloud.workflow.framework.entity.ActRuVariable">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="REV" jdbcType="INTEGER" property="rev" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="EXECUTION_ID" jdbcType="VARCHAR" property="executionId" />
    <result column="PROC_INST_ID" jdbcType="VARCHAR" property="procInstId" />
    <result column="TASK_ID" jdbcType="VARCHAR" property="taskId" />
    <result column="BYTEARRAY_ID" jdbcType="VARCHAR" property="bytearrayId" />
    <result column="DOUBLE_VALUE" jdbcType="DOUBLE" property="doubleValue" />
    <result column="LONG_VALUE" jdbcType="BIGINT" property="longValue" />
    <result column="TEXT_VALUE" jdbcType="VARCHAR" property="textValue" />
    <result column="TEXT2_VALUE" jdbcType="VARCHAR" property="text2Value" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, REV, TYPE, NAME, EXECUTION_ID, PROC_INST_ID, TASK_ID, BYTEARRAY_ID, DOUBLE_VALUE, 
    LONG_VALUE, TEXT_VALUE, TEXT2_VALUE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dc_act_ru_variable
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dc_act_ru_variable
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.open.cloud.workflow.framework.entity.ActRuVariable">
    insert into dc_act_ru_variable (ID, REV, TYPE, 
      NAME, EXECUTION_ID, PROC_INST_ID, 
      TASK_ID, BYTEARRAY_ID, DOUBLE_VALUE, 
      LONG_VALUE, TEXT_VALUE, TEXT2_VALUE
      )
    values (#{id,jdbcType=VARCHAR}, #{rev,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{executionId,jdbcType=VARCHAR}, #{procInstId,jdbcType=VARCHAR}, 
      #{taskId,jdbcType=VARCHAR}, #{bytearrayId,jdbcType=VARCHAR}, #{doubleValue,jdbcType=DOUBLE}, 
      #{longValue,jdbcType=BIGINT}, #{textValue,jdbcType=VARCHAR}, #{text2Value,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.open.cloud.workflow.framework.entity.ActRuVariable">
    insert into dc_act_ru_variable
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="rev != null">
        REV,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="executionId != null">
        EXECUTION_ID,
      </if>
      <if test="procInstId != null">
        PROC_INST_ID,
      </if>
      <if test="taskId != null">
        TASK_ID,
      </if>
      <if test="bytearrayId != null">
        BYTEARRAY_ID,
      </if>
      <if test="doubleValue != null">
        DOUBLE_VALUE,
      </if>
      <if test="longValue != null">
        LONG_VALUE,
      </if>
      <if test="textValue != null">
        TEXT_VALUE,
      </if>
      <if test="text2Value != null">
        TEXT2_VALUE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="rev != null">
        #{rev,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="executionId != null">
        #{executionId,jdbcType=VARCHAR},
      </if>
      <if test="procInstId != null">
        #{procInstId,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="bytearrayId != null">
        #{bytearrayId,jdbcType=VARCHAR},
      </if>
      <if test="doubleValue != null">
        #{doubleValue,jdbcType=DOUBLE},
      </if>
      <if test="longValue != null">
        #{longValue,jdbcType=BIGINT},
      </if>
      <if test="textValue != null">
        #{textValue,jdbcType=VARCHAR},
      </if>
      <if test="text2Value != null">
        #{text2Value,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.open.cloud.workflow.framework.entity.ActRuVariable">
    update dc_act_ru_variable
    <set>
      <if test="rev != null">
        REV = #{rev,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="executionId != null">
        EXECUTION_ID = #{executionId,jdbcType=VARCHAR},
      </if>
      <if test="procInstId != null">
        PROC_INST_ID = #{procInstId,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null">
        TASK_ID = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="bytearrayId != null">
        BYTEARRAY_ID = #{bytearrayId,jdbcType=VARCHAR},
      </if>
      <if test="doubleValue != null">
        DOUBLE_VALUE = #{doubleValue,jdbcType=DOUBLE},
      </if>
      <if test="longValue != null">
        LONG_VALUE = #{longValue,jdbcType=BIGINT},
      </if>
      <if test="textValue != null">
        TEXT_VALUE = #{textValue,jdbcType=VARCHAR},
      </if>
      <if test="text2Value != null">
        TEXT2_VALUE = #{text2Value,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.open.cloud.workflow.framework.entity.ActRuVariable">
    update dc_act_ru_variable
    set REV = #{rev,jdbcType=INTEGER},
      TYPE = #{type,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      EXECUTION_ID = #{executionId,jdbcType=VARCHAR},
      PROC_INST_ID = #{procInstId,jdbcType=VARCHAR},
      TASK_ID = #{taskId,jdbcType=VARCHAR},
      BYTEARRAY_ID = #{bytearrayId,jdbcType=VARCHAR},
      DOUBLE_VALUE = #{doubleValue,jdbcType=DOUBLE},
      LONG_VALUE = #{longValue,jdbcType=BIGINT},
      TEXT_VALUE = #{textValue,jdbcType=VARCHAR},
      TEXT2_VALUE = #{text2Value,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>