<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.open.cloud.workflow.framework.mapper.ReprocdefFlowLinesMapper">
    <resultMap id="BaseResultMap" type="com.open.cloud.workflow.framework.entity.ReprocdefFlowLines">
        <id column="KEY" jdbcType="VARCHAR" property="key"/>
        <id column="ID" jdbcType="INTEGER" property="id"/>
        <result column="SID" jdbcType="VARCHAR" property="sid"/>
        <result column="TASK_DEF_KEY" jdbcType="VARCHAR" property="taskDefKey"/>
        <result column="SID_NAME" jdbcType="VARCHAR" property="sidName"/>
        <result column="SID_TYPE" jdbcType="VARCHAR" property="sidType"/>
        <result column="FROM_NODE" jdbcType="VARCHAR" property="fromNode"/>
        <result column="TO_NODE" jdbcType="VARCHAR" property="toNode"/>
        <result column="EXPR" jdbcType="VARCHAR" property="expr"/>
        <result column="EXPR_VALUE" jdbcType="VARCHAR" property="exprValue"/>
        <result column="STATE" jdbcType="BIT" property="state"/>
        <result column="FINAL_TO_NODE" jdbcType="VARCHAR" property="finalToNode"/>
    </resultMap>
    <sql id="Base_Column_List">
    `KEY`,ID, SID, TASK_DEF_KEY, SID_NAME, SID_TYPE, FROM_NODE, TO_NODE, EXPR,EXPR_VALUE,STATE, FINAL_TO_NODE
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dc_act_reprocdef_flowlines
        where `KEY` = #{key,jdbcType=VARCHAR}
    </select>
    <select id="seletFlowsLinesByKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dc_act_reprocdef_flowlines
        where `KEY` = #{key,jdbcType=VARCHAR} order  by ID asc
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dc_act_reprocdef_flowlines
    where `KEY` = #{key,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.open.cloud.workflow.framework.entity.ReprocdefFlowLines">
    insert into dc_act_reprocdef_flowlines (`KEY`,ID, SID, TASK_DEF_KEY,
      SID_NAME, SID_TYPE, FROM_NODE, 
      TO_NODE, EXPR, STATE, 
      FINAL_TO_NODE,EXPR_VALUE)
    values (#{key,jdbcType=VARCHAR},#{id,jdbcType=VARCHAR}, #{sid,jdbcType=VARCHAR}, #{taskDefKey,jdbcType=VARCHAR},
      #{sidName,jdbcType=VARCHAR}, #{sidType,jdbcType=VARCHAR}, #{fromNode,jdbcType=VARCHAR}, 
      #{toNode,jdbcType=VARCHAR}, #{expr,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, 
      #{finalToNode,jdbcType=VARCHAR},#{exprValue,jdbcType=VARCHAR})
  </insert>
    <!-- 批量插入数据 -->
    <insert id="insertBatch" parameterType="list">
        INSERT INTO dc_act_reprocdef_flowlines (<include refid="Base_Column_List"/>)
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (
            #{item.key},
            #{item.id},
            #{item.sid},
            #{item.taskDefKey},
            #{item.sidName},
            #{item.sidType},
            #{item.fromNode},
            #{item.toNode},
            #{item.expr},
            #{item.exprValue},
            #{item.state},
            #{item.finalToNode}
            )
        </foreach>
    </insert>
    <insert id="insertSelective" parameterType="com.open.cloud.workflow.framework.entity.ReprocdefFlowLines">
        insert into dc_act_reprocdef_flowlines
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="key != null">
                `KEY`,
            </if>
            <if test="id != null">
                ID,
            </if>
            <if test="sid != null">
                SID,
            </if>
            <if test="taskDefKey != null">
                TASK_DEF_KEY,
            </if>
            <if test="sidName != null">
                SID_NAME,
            </if>
            <if test="sidType != null">
                SID_TYPE,
            </if>
            <if test="fromNode != null">
                FROM_NODE,
            </if>
            <if test="toNode != null">
                TO_NODE,
            </if>
            <if test="expr != null">
                EXPR,
            </if>
            <if test="exprValue!=null">
                EXPR_VALUE,
            </if>
            <if test="state != null">
                STATE,
            </if>
            <if test="finalToNode != null">
                FINAL_TO_NODE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="key != null">
                #{key,jdbcType=VARCHAR},
            </if>
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="sid != null">
                #{sid,jdbcType=VARCHAR},
            </if>
            <if test="taskDefKey != null">
                #{taskDefKey,jdbcType=VARCHAR},
            </if>
            <if test="sidName != null">
                #{sidName,jdbcType=VARCHAR},
            </if>
            <if test="sidType != null">
                #{sidType,jdbcType=VARCHAR},
            </if>
            <if test="fromNode != null">
                #{fromNode,jdbcType=VARCHAR},
            </if>
            <if test="toNode != null">
                #{toNode,jdbcType=VARCHAR},
            </if>
            <if test="expr != null">
                #{expr,jdbcType=VARCHAR},
            </if>
            <if test="exprValue!=null">
                #{exprValue,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=VARCHAR},
            </if>
            <if test="finalToNode != null">
                #{finalToNode,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.open.cloud.workflow.framework.entity.ReprocdefFlowLines">
        update dc_act_reprocdef_flowlines
        <set>
            <if test="sid != null">
                SID = #{sid,jdbcType=VARCHAR},
            </if>
            <if test="taskDefKey != null">
                TASK_DEF_KEY = #{taskDefKey,jdbcType=VARCHAR},
            </if>
            <if test="sidName != null">
                SID_NAME = #{sidName,jdbcType=VARCHAR},
            </if>
            <if test="sidType != null">
                SID_TYPE = #{sidType,jdbcType=VARCHAR},
            </if>
            <if test="fromNode != null">
                FROM_NODE = #{fromNode,jdbcType=VARCHAR},
            </if>
            <if test="toNode != null">
                TO_NODE = #{toNode,jdbcType=VARCHAR},
            </if>
            <if test="expr != null">
                EXPR = #{expr,jdbcType=VARCHAR},
            </if>
            <if test="exprValue!=null">
                EXPR_VALUE = #{exprValue,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                STATE = #{state,jdbcType=VARCHAR},
            </if>
            <if test="finalToNode != null">
                FINAL_TO_NODE = #{finalToNode,jdbcType=VARCHAR},
            </if>
        </set>
        where `KEY` = #{key,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.open.cloud.workflow.framework.entity.ReprocdefFlowLines">
    update dc_act_reprocdef_flowlines
    set SID = #{sid,jdbcType=VARCHAR},
      TASK_DEF_KEY = #{taskDefKey,jdbcType=VARCHAR},
      SID_NAME = #{sidName,jdbcType=VARCHAR},
      SID_TYPE = #{sidType,jdbcType=VARCHAR},
      FROM_NODE = #{fromNode,jdbcType=VARCHAR},
      TO_NODE = #{toNode,jdbcType=VARCHAR},
      EXPR = #{expr,jdbcType=VARCHAR},
      EXPR_VALUE = #{exprValue,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=VARCHAR},
      FINAL_TO_NODE = #{finalToNode,jdbcType=VARCHAR}
    where `KEY` = #{key,jdbcType=VARCHAR}
  </update>
</mapper>