<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.open.cloud.workflow.framework.mapper.ReprocdefFlowMapper">
    <resultMap id="BaseResultMap" type="com.open.cloud.workflow.framework.entity.ReprocdefFlow">
        <id column="KEY" jdbcType="VARCHAR" property="key"/>
        <id column="SID" jdbcType="VARCHAR" property="sid"/>
        <result column="TASK_DEF_KEY" jdbcType="VARCHAR" property="taskDefKey"/>
        <result column="SID_TYPE" jdbcType="VARCHAR" property="sidType"/>
        <result column="SID_TITLE" jdbcType="VARCHAR" property="sidTitle"/>
        <result column="INIT_NUM" jdbcType="DECIMAL" property="initNum"/>
        <result column="VERSION" jdbcType="VARCHAR" property="version"/>
        <result column="STATE" jdbcType="BIT" property="state"/>
        <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="CREATOR" jdbcType="VARCHAR" property="creator"/>
    </resultMap>
    <sql id="Base_Column_List">
    `KEY`, SID, TASK_DEF_KEY, SID_TYPE, SID_TITLE, INIT_NUM, VERSION, STATE, CREATETIME,
    CREATOR
  </sql>
    <select id="selectByPrimaryKey" parameterType="com.open.cloud.workflow.framework.entity.ReprocdefFlow"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dc_act_reprocdef_flow
        where `KEY` = #{key,jdbcType=VARCHAR}
    </select>
    <select id="selectCountTest" parameterType="java.lang.String" resultType="java.lang.Integer">
        select  COUNT(1) num from dc_act_reprocdef_flow
    </select>

    <select id="seletFlowsByKey" parameterType="com.open.cloud.workflow.framework.entity.ReprocdefFlow"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dc_act_reprocdef_flow
        where `KEY` = #{key,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="com.open.cloud.workflow.framework.entity.ReprocdefFlow">
    delete from dc_act_reprocdef_flow
    where `KEY` = #{key,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.open.cloud.workflow.framework.entity.ReprocdefFlow">
    insert into dc_act_reprocdef_flow (`KEY`, SID, TASK_DEF_KEY,
      SID_TYPE, SID_TITLE, INIT_NUM, 
      VERSION, STATE, CREATETIME, 
      CREATOR)
    values (#{key,jdbcType=VARCHAR}, #{sid,jdbcType=VARCHAR}, #{taskDefKey,jdbcType=VARCHAR}, 
      #{sidType,jdbcType=VARCHAR}, #{sidTitle,jdbcType=VARCHAR}, #{initNum,jdbcType=DECIMAL}, 
      #{version,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.open.cloud.workflow.framework.entity.ReprocdefFlow">
        insert into dc_act_reprocdef_flow
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="key != null">
                `KEY`,
            </if>
            <if test="sid != null">
                SID,
            </if>
            <if test="taskDefKey != null">
                TASK_DEF_KEY,
            </if>
            <if test="sidType != null">
                SID_TYPE,
            </if>
            <if test="sidTitle != null">
                SID_TITLE,
            </if>
            <if test="initNum != null">
                INIT_NUM,
            </if>
            <if test="version != null">
                VERSION,
            </if>
            <if test="state != null">
                STATE,
            </if>
            <if test="createtime != null">
                CREATETIME,
            </if>
            <if test="creator != null">
                CREATOR,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="key != null">
                #{key,jdbcType=VARCHAR},
            </if>
            <if test="sid != null">
                #{sid,jdbcType=VARCHAR},
            </if>
            <if test="taskDefKey != null">
                #{taskDefKey,jdbcType=VARCHAR},
            </if>
            <if test="sidType != null">
                #{sidType,jdbcType=VARCHAR},
            </if>
            <if test="sidTitle != null">
                #{sidTitle,jdbcType=VARCHAR},
            </if>
            <if test="initNum != null">
                #{initNum,jdbcType=DECIMAL},
            </if>
            <if test="version != null">
                #{version,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <!-- 批量插入数据 -->
    <insert id="insertBatch" parameterType="list">
        INSERT INTO dc_act_reprocdef_flow (<include refid="Base_Column_List"/>)
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (
            #{item.key},
            #{item.sid},
            #{item.taskDefKey},
            #{item.sidType},
            #{item.sidTitle},
            #{item.initNum},
            #{item.version},
            #{item.state},
            #{item.createtime},
            #{item.creator}
            )
        </foreach>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.open.cloud.workflow.framework.entity.ReprocdefFlow">
        update dc_act_reprocdef_flow
        <set>
            <if test="taskDefKey != null">
                TASK_DEF_KEY = #{taskDefKey,jdbcType=VARCHAR},
            </if>
            <if test="sidType != null">
                SID_TYPE = #{sidType,jdbcType=VARCHAR},
            </if>
            <if test="sidTitle != null">
                SID_TITLE = #{sidTitle,jdbcType=VARCHAR},
            </if>
            <if test="initNum != null">
                INIT_NUM = #{initNum,jdbcType=DECIMAL},
            </if>
            <if test="version != null">
                VERSION = #{version,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                STATE = #{state,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                CREATETIME = #{createtime,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                CREATOR = #{creator,jdbcType=VARCHAR},
            </if>
        </set>
        where `KEY` = #{key,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.open.cloud.workflow.framework.entity.ReprocdefFlow">
    update dc_act_reprocdef_flow
    set TASK_DEF_KEY = #{taskDefKey,jdbcType=VARCHAR},
      SID_TYPE = #{sidType,jdbcType=VARCHAR},
      SID_TITLE = #{sidTitle,jdbcType=VARCHAR},
      INIT_NUM = #{initNum,jdbcType=DECIMAL},
      VERSION = #{version,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=VARCHAR},
      CREATOR = #{creator,jdbcType=VARCHAR}
    where `KEY` = #{key,jdbcType=VARCHAR}
  </update>
</mapper>