<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.open.cloud.workflow.framework.mapper.SeqNoParaMapper">
  <resultMap id="BaseResultMap" type="com.open.cloud.workflow.framework.entity.SeqNoPara">
    <id column="SEQ_TYPE" jdbcType="VARCHAR" property="seqType" />
    <result column="MIN_SEQ" jdbcType="VARCHAR" property="minSeq" />
    <result column="MAX_SEQ" jdbcType="VARCHAR" property="maxSeq" />
    <result column="CURR_SEQ" jdbcType="VARCHAR" property="currSeq" />
    <result column="COUNT_SEQ" jdbcType="VARCHAR" property="countSeq" />
  </resultMap>
  <sql id="Base_Column_List">
    SEQ_TYPE, MIN_SEQ, MAX_SEQ, CURR_SEQ, COUNT_SEQ
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dc_act_seq_no_para
    where SEQ_TYPE = #{seqType,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dc_act_seq_no_para
    where SEQ_TYPE = #{seqType,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.open.cloud.workflow.framework.entity.SeqNoPara">
    insert ignore into dc_act_seq_no_para (SEQ_TYPE, MIN_SEQ, MAX_SEQ,
      CURR_SEQ, COUNT_SEQ)
    values (#{seqType,jdbcType=VARCHAR}, #{minSeq,jdbcType=VARCHAR}, #{maxSeq,jdbcType=VARCHAR}, 
      #{currSeq,jdbcType=VARCHAR}, #{countSeq,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.open.cloud.workflow.framework.entity.SeqNoPara">
    insert into dc_act_seq_no_para
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="seqType != null">
        SEQ_TYPE,
      </if>
      <if test="minSeq != null">
        MIN_SEQ,
      </if>
      <if test="maxSeq != null">
        MAX_SEQ,
      </if>
      <if test="currSeq != null">
        CURR_SEQ,
      </if>
      <if test="countSeq != null">
        COUNT_SEQ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="seqType != null">
        #{seqType,jdbcType=VARCHAR},
      </if>
      <if test="minSeq != null">
        #{minSeq,jdbcType=VARCHAR},
      </if>
      <if test="maxSeq != null">
        #{maxSeq,jdbcType=VARCHAR},
      </if>
      <if test="currSeq != null">
        #{currSeq,jdbcType=VARCHAR},
      </if>
      <if test="countSeq != null">
        #{countSeq,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.open.cloud.workflow.framework.entity.SeqNoPara">
    update dc_act_seq_no_para
    <set>
      <if test="minSeq != null">
        MIN_SEQ = #{minSeq,jdbcType=VARCHAR},
      </if>
      <if test="maxSeq != null">
        MAX_SEQ = #{maxSeq,jdbcType=VARCHAR},
      </if>
      <if test="currSeq != null">
        CURR_SEQ = #{currSeq,jdbcType=VARCHAR},
      </if>
      <if test="countSeq != null">
        COUNT_SEQ = #{countSeq,jdbcType=VARCHAR},
      </if>
    </set>
    where SEQ_TYPE = #{seqType,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.open.cloud.workflow.framework.entity.SeqNoPara">
    update dc_act_seq_no_para
    set MIN_SEQ = #{minSeq,jdbcType=VARCHAR},
      MAX_SEQ = #{maxSeq,jdbcType=VARCHAR},
      CURR_SEQ = #{currSeq,jdbcType=VARCHAR},
      COUNT_SEQ = #{countSeq,jdbcType=VARCHAR}
    where SEQ_TYPE = #{seqType,jdbcType=VARCHAR}
  </update>
</mapper>