<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moc.cloud.workflow.framework.mapper.SysLogMapper">
    <resultMap id="BaseResultMap" type="com.moc.cloud.workflow.framework.entity.SysLog">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="USER_NAME" jdbcType="VARCHAR" property="userName"/>
        <result column="IP" jdbcType="VARCHAR" property="ip"/>
        <result column="TYPE" jdbcType="VARCHAR" property="type"/>
        <result column="URL" jdbcType="VARCHAR" property="url"/>
        <result column="TEXT" jdbcType="VARCHAR" property="text"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.moc.cloud.workflow.framework.entity.SysLog">
        <result column="PARAM" jdbcType="LONGVARCHAR" property="param"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID, USER_NAME, IP, TYPE, URL, TEXT, CREATE_TIME
  </sql>
    <sql id="Blob_Column_List">
    PARAM
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from dc_act_sys_log
        where ID = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dc_act_sys_log
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.moc.cloud.workflow.framework.entity.SysLog">
    insert into dc_act_sys_log (USER_NAME, IP,
      TYPE, URL, TEXT, CREATE_TIME, 
      PARAM)
    values (#{userName,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR},
      #{type,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{text,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{param,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.moc.cloud.workflow.framework.entity.SysLog">
        insert into dc_act_sys_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="userName != null">
                USER_NAME,
            </if>
            <if test="ip != null">
                IP,
            </if>
            <if test="type != null">
                TYPE,
            </if>
            <if test="url != null">
                URL,
            </if>
            <if test="text != null">
                TEXT,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="param != null">
                PARAM,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="text != null">
                #{text,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="param != null">
                #{param,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.moc.cloud.workflow.framework.entity.SysLog">
        update dc_act_sys_log
        <set>
            <if test="userName != null">
                USER_NAME = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                IP = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                TYPE = #{type,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                URL = #{url,jdbcType=VARCHAR},
            </if>
            <if test="text != null">
                TEXT = #{text,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="param != null">
                PARAM = #{param,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
    
    <update id="updateByPrimaryKey" parameterType="com.moc.cloud.workflow.framework.entity.SysLog">
    update dc_act_sys_log
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      IP = #{ip,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      TEXT = #{text,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>