<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moc.cloud.workflow.framework.mapper.SysPermissionMapper">
    <resultMap id="BaseResultMap" type="com.moc.cloud.workflow.framework.entity.SysPermission">
        <id column="PERMISSION_ID" jdbcType="VARCHAR" property="permissionId"/>
        <result column="PERMISSION_NAME" jdbcType="VARCHAR" property="permissionName"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy"/>
        <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy"/>
        <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="DEL_FLAG" jdbcType="BIT" property="delFlag"/>
    </resultMap>
    <sql id="Base_Column_List">
    PERMISSION_ID, PERMISSION_NAME, REMARK, CREATE_BY, CREATE_DATE, UPDATE_BY, UPDATE_DATE,DEL_FLAG
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dc_act_sys_permission
        where PERMISSION_ID = #{permissionId,jdbcType=VARCHAR}
    </select>
    <select id="selectAll" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dc_act_sys_permission
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dc_act_sys_permission
    where PERMISSION_ID = #{permissionId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.moc.cloud.workflow.framework.entity.SysPermission">
    insert into dc_act_sys_permission (PERMISSION_ID, PERMISSION_NAME, REMARK, 
      CREATE_BY, CREATE_DATE, UPDATE_BY, 
      UPDATE_DATE)
    values (#{permissionId,jdbcType=VARCHAR}, #{permissionName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.moc.cloud.workflow.framework.entity.SysPermission">
        insert into dc_act_sys_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="permissionId != null">
                PERMISSION_ID,
            </if>
            <if test="permissionName != null">
                PERMISSION_NAME,
            </if>
            <if test="remark != null">
                REMARK,
            </if>
            <if test="createBy != null">
                CREATE_BY,
            </if>
            <if test="createDate != null">
                CREATE_DATE,
            </if>
            <if test="updateBy != null">
                UPDATE_BY,
            </if>
            <if test="updateDate != null">
                UPDATE_DATE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="permissionId != null">
                #{permissionId,jdbcType=VARCHAR},
            </if>
            <if test="permissionName != null">
                #{permissionName,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.moc.cloud.workflow.framework.entity.SysPermission">
        update dc_act_sys_permission
        <set>
            <if test="permissionName != null">
                PERMISSION_NAME = #{permissionName,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                CREATE_BY = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                DEL_FLAG = #{delFlag,jdbcType=TIMESTAMP},
            </if>
        </set>
        where PERMISSION_ID = #{permissionId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.moc.cloud.workflow.framework.entity.SysPermission">
    update dc_act_sys_permission
    set PERMISSION_NAME = #{permissionName,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      DEL_FLAG = #{delFlag,jdbcType=TIMESTAMP}
    where PERMISSION_ID = #{permissionId,jdbcType=VARCHAR}
  </update>
    <select id="selectSelective" resultType="com.moc.cloud.workflow.framework.entity.SysPermission"
            parameterType="com.moc.cloud.workflow.framework.entity.SysPermission">
        SELECT
        <include refid="Base_Column_List"/>
        FROM dc_act_sys_permission WHERE 1 = 1
        <if test="permissionName != null and permissionName != ''">
            AND PERMISSION_NAME LIKE CONCAT('%',#{permissionName},'%')
        </if>
        <if test="remark != null and remark != ''">
            AND REMARK LIKE CONCAT('%',#{remark},'%')
        </if>
        <if test="createBy != null and createBy != ''">
            AND CREATE_BY LIKE CONCAT('%',#{createBy},'%')
        </if>
        <if test="createDate != null">
            AND CREATE_DATE = #{createDate}
        </if>
        <if test="updateBy != null and updateBy != ''">
            AND UPDATE_BY LIKE CONCAT('%',#{updateBy},'%')
        </if>
        <if test="updateDate != null">
            AND UPDATE_DATE = #{updateDate}
        </if>
    </select>

</mapper>