<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" debug="false">
    <property name="logging.pattern"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [${spring.application.name}] [%X{platformId},%X{channelSeqNo},%X{reference},%X{runDate},%X{jobId}] [%X{serviceCode}-%X{messageType}-%X{messageCode}] [%thread] %-5level %logger{50} %line - %msg%n"/>
    <property name="logging.console"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [${spring.application.name}] [[%X{platformId},%X{channelSeqNo},%X{reference},%X{runDate},%X{jobId}] [%X{serviceCode}-%X{messageType}-%X{messageCode}] [%thread] %-5level %logger{50} %line - %msg%n"/>
    <property name="logging.dev.console"
              value="%red(%d{yyyy-MM-dd HH:mm:ss.SSS}) %yellow([${spring.application.name}]) %blue([%X{platformId},%X{channelSeqNo},%X{reference},%X{runDate},%X{jobId}]) %red([%X{serviceCode}-%X{messageType}-%X{messageCode}] [%thread]) %highlight(%-5level) %boldMagenta(%logger{50} %line) - %cyan(%msg%n)"/>
    <!-- 控制台日志文件输出  -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${logging.dev.console}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    　　　
    <root level="TRACE">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.jd.jsf" level="TRACE"/>
</configuration>