<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sofa="http://sofastack.io/schema/sofaboot"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://sofastack.io/schema/sofaboot http://sofastack.io/schema/sofaboot.xsd"
       default-autowire="byName">

    <!-- 生成远程服务代理，可以和本地bean一样使用demoService -->
    #foreach($consumer in $lists)

        <sofa:reference id="$consumer.id" interface="$consumer.interfaceName" #if("$!consumer.uniqueId" == "") #else unique-id="$consumer.uniqueId" #end>
            <sofa:binding.bolt>
                <sofa:global-attrs timeout="15000"/>
            </sofa:binding.bolt>
        </sofa:reference>
    #end

</beans>