<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sofa="http://sofastack.io/schema/sofaboot"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://sofastack.io/schema/sofaboot http://sofastack.io/schema/sofaboot.xsd"
       default-autowire="byName">

    <!-- 声明需要暴露的服务接口 -->
    #foreach($provider in $lists)

        <sofa:service interface="$provider.interfaceName" ref="$provider.ref" #if("$!provider.uniqueId" == "") #else unique-id="$provider.uniqueId" #end>
            <sofa:binding.bolt>
                <sofa:global-attrs timeout="15000"/>
            </sofa:binding.bolt>
        </sofa:service>
    #end

</beans>