<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <springProperty scope="context" name="logging.level" source="logging.level.com.dcits"/>
    <springProperty scope="context" name="logging.level.root" source="logging.level.root"/>
    <property name="logging.path" value="./logs"/>
    <property name="spring.application.name" value="cloud-sofa-app"/>

    <!--控制台日志输出-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%X{SOFA-TraceId},%X{SOFA-SpanId}] [%thread] %-5level %logger{50} %line - %msg%n</Pattern>
        </encoder>
    </appender>

    <!--ERROR日志输出-->
    <appender name="ERROR-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>${logging.path}/${spring.application.name}/common-error.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%X{SOFA-TraceId},%X{SOFA-SpanId}] [%thread] %-5level %logger{50} %line - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                ${logging.path}/${spring.application.name}/%d{yyyyMMdd}/common-error.%d{yyyyMMdd}.%i.log.zip
            </fileNamePattern>
            <maxFileSize>50MB</maxFileSize>  <!-- 日志文件过大会使的编辑器打开非常慢，因此设置日志最大50MB -->
            <maxHistory>30</maxHistory>  <!-- 保存30天 -->
            <totalSizeCap>10GB</totalSizeCap>  <!-- 总日志大小 -->
        </rollingPolicy>
    </appender>

    <appender name="ROOT-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>${logging.path}/${spring.application.name}/common-default.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logging.level.root}</level>
        </filter>
        <encoder>
            <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%X{SOFA-TraceId},%X{SOFA-SpanId}] [%thread] %-5level %logger{50} %line - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                ${logging.path}/${spring.application.name}/%d{yyyyMMdd}/common-default.%d{yyyyMMdd}.%i.log.zip
            </fileNamePattern>
            <maxFileSize>50MB</maxFileSize>  <!-- 日志文件过大会使的编辑器打开非常慢，因此设置日志最大50MB -->
            <maxHistory>30</maxHistory>  <!-- 保存30天 -->
            <totalSizeCap>10GB</totalSizeCap>  <!-- 总日志大小 -->
        </rollingPolicy>
    </appender>

    <appender name="MDC-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>${logging.path}/${spring.application.name}/mdc-default.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logging.level}</level>
        </filter>
        <encoder>
            <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%X{SOFA-TraceId},%X{SOFA-SpanId}] [%thread] %-5level %logger{50} %line - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                ${logging.path}/${spring.application.name}/%d{yyyyMMdd}/mdc-default.%d{yyyyMMdd}.%i.log.zip
            </fileNamePattern>
            <maxFileSize>50MB</maxFileSize>  <!-- 日志文件过大会使的编辑器打开非常慢，因此设置日志最大50MB -->
            <maxHistory>30</maxHistory>  <!-- 保存30天 -->
            <totalSizeCap>10GB</totalSizeCap>  <!-- 总日志大小 -->
        </rollingPolicy>
    </appender>


    <logger name="com.dcits" level="${logging.level}" additivity="false">
        <appender-ref ref="ROOT-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
        <appender-ref ref="MDC-APPENDER"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="MDC-APPENDER" level="${logging.level}" additivity="false">
        <appender-ref ref="ROOT-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
        <appender-ref ref="MDC-APPENDER"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="${logging.level.root}" additivity="false">
        <appender-ref ref="ROOT-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
        <appender-ref ref="MDC-APPENDER"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>